<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.graduation.mapper.FoundMapper">
  <resultMap id="BaseResultMap" type="com.github.mahui53541.graduation.model.Found">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="found_name" jdbcType="VARCHAR" property="foundName" />
    <result column="found_picture" jdbcType="VARCHAR" property="foundPicture" />
    <result column="set_false_claim" jdbcType="BIT" property="setFalseClaim" />
    <result column="found_datetime" jdbcType="TIMESTAMP" property="foundDatetime" />
    <result column="expiry_datetime" jdbcType="TIMESTAMP" property="expiryDatetime" />
    <result column="is_found" jdbcType="BIT" property="isFound" />
    <result column="lost_id" jdbcType="INTEGER" property="lostId" />
    <result column="found_lost_datetime" jdbcType="TIMESTAMP" property="foundLostDatetime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="has_reviewed" jdbcType="BIT" property="hasReviewed" />
    <result column="has_passed" jdbcType="BIT" property="hasPassed" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="found_description" jdbcType="LONGVARCHAR" property="foundDescription" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="submit_datetime" jdbcType="TIMESTAMP" property="submitDatetime" />
  </resultMap>
  <resultMap id="foundUserMap" type="com.github.mahui53541.graduation.vo.FoundUserVO" extends="BaseResultMap">
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <resultMap id="FoundAdminMap" type="com.github.mahui53541.graduation.vo.FoundAdminVO" extends="BaseResultMap">
    <result column="adminname" jdbcType="VARCHAR" property="adminName" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
    <result column="lostname" jdbcType="VARCHAR" property="lostName" />
  </resultMap>
  <select id="queryByPage" resultMap="BaseResultMap">
    SELECT * FROM found
      WHERE has_reviewed=1 AND has_passed=1 AND deleted=false
      <if test="keyword != null and keyword !=''">
        AND MATCH (label,found_name,found_description) AGAINST (#{keyword} IN NATURAL LANGUAGE MODE)
      </if>
    <if test="startDate!=null">
      AND DATE(found_datetime) &gt;= #{startDate}
    </if>
    <if test="endDate!=null">
      AND DATE(found_datetime) &lt;= #{endDate}
    </if>
      ORDER BY submit_datetime DESC
  </select>
  <select id="queryAllByPage" resultMap="FoundAdminMap">
    SELECT f.*,u.nickname as username,a.nickname as adminname,l.nickname as lostname FROM found f
    LEFT JOIN user u ON f.user_id=u.id
    LEFT JOIN admin a ON f.admin_id=a.id
    LEFT JOIN user l ON f.lost_id=l.id
    <where>
      <if test="keyword != null and keyword !=''">
        AND MATCH (label,found_name,found_description) AGAINST (#{keyword} IN NATURAL LANGUAGE MODE)
      </if>
      <if test="startDate!=null">
        AND DATE(found_datetime) &gt;= #{startDate}
      </if>
      <if test="endDate!=null">
        AND DATE(found_datetime) &lt;= #{endDate}
      </if>
    </where>
    ORDER BY f.submit_datetime DESC
  </select>
  <select id="getFoundDetail" resultMap="foundUserMap">
    SELECT f.*,username,nickname,phone_number FROM found  f LEFT JOIN user u ON f.user_id=u.id WHERE f.id=#{id} AND has_reviewed=1 AND has_passed=1 AND f.deleted=false
  </select>
</mapper>