<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.graduation.mapper.ThanksLetterMapper">
  <resultMap id="BaseResultMap" type="com.github.mahui53541.graduation.model.ThanksLetter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="editor_id" jdbcType="INTEGER" property="editorId" />
    <result column="thanks_id" jdbcType="INTEGER" property="thanksId" />
    <result column="lost_id" jdbcType="INTEGER" property="lostId" />
    <result column="found_id" jdbcType="INTEGER" property="foundId" />
    <result column="submit_datetime" jdbcType="TIMESTAMP" property="submitDatetime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
</mapper>